[Desktop Entry]
Version=1.0
Type=Application
Name=ZScape
Comment=Zandronum server browser and launcher
Exec=ZScape
Icon=ZScape
Terminal=false
Categories=Game;Network;
StartupNotify=true
